.footer {
  position: sticky;
  z-index: -1;
  bottom: 0;

  min-width: 320px;
  margin: 0;

  background-image: url(../images/footer-bg-photo.png);
  background-size: cover;

  @include on-tablet {
    height: 480px;
  }

  @include on-desktop {
    height: 555px;
  }
}
