.footer {
  //  background-color:  #1d1d1d;
  margin: 0;
  min-width: 320px;

  &__block {
    position: sticky;
    bottom: 100px;
    width: 100%;
    height: 200px;
    z-index: -1;
    background-image: url(../images/footer-bg-photo.png);
    background-position: center;
    background-size: cover;

    @include on-tablet {
      height: 480px;
    }

    @include on-desktop {
      height: 555px;
    }
  }
}
