.header {
  background-image: url(../images/header-bg-mobile.png);
  background-position: center;
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  &__title {
    margin: 0;

    font-size: 36px;
    font-weight: 700;
    font-style: Bold;
    line-height: 100%;
    text-align: center;
    letter-spacing: -1.5px;
    vertical-align: middle;

    @include on-tablet {
      font-size: 40px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 64px;
    }
  }
}
