.icon {
  display: block;

  width: 18px;
  height: 18px;

  background-position: center;
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: 24px;
    height: 24px;
  }

  &--phone {
    background-image: url(../images/icon/Icon-Phone-call.png);
  }

  &--menu {
    background-image: url(../images/icon/Icon-Burger-menu.png);

    &:hover {
      background-image: url(../images/icon/Icon-Burger-menu-hover.png);
    }
  }

  &--close {
    background-image: url(../images/icon/icon-close.png);
  }
}
