.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 24px;

  @include on-tablet {
    padding-block: 64px;
  }

  &__phone {
    display: block;

    font-size: 16px;
    line-height: 27px;
    color: $main-text-color;
    text-decoration: none;

    @include hover(transform, scale(1.2));
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 38px;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      height: 56px;
    }
  }
}
